@import "style.css";
@import url('https://fonts.googleapis.com/css?family=Muli');

/* examples */
  .mainImage{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    /* background: #101010; */
    /* overflow: visible; */
  }
.flexibleImage{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    display: inline-block;
    /* background: #101010; */
    /* overflow: visible; */
  }
.verticalTop{
  vertical-align: top; 
}
.shadowed{
    box-shadow: 0px 0px 5px #00000010;
}
  .flexibleImage img{
    width:100%;
    vertical-align:top;
    height:auto;
  }
  .explainArea{
    padding-left: 20px;
    padding-right: 20px;
  }
  .infos{
    margin-top: 120px;
    width:100%;
    color: #222222;
    vertical-align: top;
  }
  .infos div{
    margin-top: 12px;
    display: inline-block;
  }
  .infos h1{
    color: #000000;
    display:inline-block;
    font-size: 24pt;
    width:80%;
    line-height: 120%;
    height:auto;
    margin-bottom: 30px;
    font-family: 'Muli', sans-serif;
  }
  .infos .small{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding-top: 20px;
    width:18%;
  }
  .explains{
    padding-top: 12px;
    line-height: 20px;
    color: #3b3a3a;
    font-size: 12pt;
    /* hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto; */
  }
  .infos .ga{
    font-size: 9pt;
    color: #F95CAB;
    line-height: 13px;
    margin:0;
    vertical-align:top;
  }
  .infos .id{
    font-size: 9pt;
    color: rgb(252, 70, 70);
    line-height: 13px;
    margin:0;
  }
  .infos .et{
    font-size: 9pt;
    color: rgb(95, 103, 167);
    line-height: 13px;
    margin:0;
  }
  .infos span{
    font-size: 9pt;
    color: #455160
  }
  .collabo::before{
    content:"/ ";
  }
  .videoContainer{
    width: 100%;
    height: 50vw;
    overflow: hidden;
    /* background-image:url(); */
  }
  .videoContainer div{
    width: 80%;
    height: 50vw;
    text-align: center;
    z-index: -1;
    position:absolute;
  }
  /* responsive */
    @media only screen and (min-width: 240px) {
        /* 1열 */
        .infos div{
          width:100%;
        }
        .flexibleImage {
          width:100%;
        }
    }
    @media only screen and (min-width: 360px) {
        /* 1열 */
        .infos div{
          width:100%;
        }
        .flexibleImage {
          width:100%;
        }
    }
    @media only screen and (min-width: 560px) {
            /* 2열 */
            .flexibleImage {
              width:520px;
            }
        }
    @media only screen and (min-width: 840px) {
            /* 1열 */
            .flexibleImage {
              width:800px;
            }
        }