.version.contact /* version checker */
{
	color: #00001C;
	background-color: #709D95;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 833px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -58px;
	padding-bottom: 22px;
	width: 0.01px;
}

#pu369
{
	width: 0.01px;
	margin-left: -100px;
}

#u369
{
	z-index: 2;
	min-height: 315px;
	background-color: #303030;
	padding-bottom: 749px;
}

#u369_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
}

#u272-13
{
	z-index: 3;
	width: 536px;
	min-height: 81px;
	background-color: transparent;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 432px;
}

#u272-2,#u272-3
{
	text-align: center;
	line-height: 29px;
	color: #F05AA0;
	font-family: cabin, sans-serif;
	font-weight: 500;
}

#u272-5
{
	letter-spacing: -5px;
}

#u272-6,#u272-8,#u272-10
{
	text-align: center;
	line-height: 29px;
	color: #FFFFFF;
	font-family: arimo, sans-serif;
	font-weight: 400;
}

#u272-11
{
	line-height: 22px;
	color: #2F7D3A;
	font-family: cabin, sans-serif;
	font-weight: 500;
}

#u369-bw
{
	z-index: 2;
	min-height: 315px;
	margin-top: 147px;
}

#u274
{
	z-index: 16;
	height: 177px;
	background-color: #F5F5C8;
}

#u274-bw
{
	z-index: 16;
	height: 177px;
}

#u457
{
	z-index: 17;
	min-height: 149px;
}

#u385-4
{
	z-index: 18;
	width: 536px;
	min-height: 81px;
	margin-bottom: -10px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 122px;
}

#menuu458
{
	z-index: 92;
	width: 392px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 886px;
}

#u5048
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
}

#u5049
{
	width: 195px;
	padding-bottom: 15px;
}

#u5051-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049:hover #u5051-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u473
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
	left: 197px;
}

#u476
{
	width: 195px;
	padding-bottom: 15px;
}

#u5049.MuseMenuActive,#u476.MuseMenuActive
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u478-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049.MuseMenuActive #u5051-4,#u476:hover #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u476.MuseMenuActive #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u457-bw
{
	z-index: 17;
	min-height: 149px;
	margin-top: 30px;
}

#pu5847
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 17px;
}

#u5847
{
	z-index: 22;
	min-height: 96px;
	padding-bottom: 53px;
}

#u457_align_to_page,#u5847_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u5851-4
{
	z-index: 36;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 122px;
}

#u5885-4
{
	z-index: 48;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 318px;
}

#pu5887-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 514px;
}

#u5887-4
{
	z-index: 52;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
}

#u5854-4
{
	z-index: 80;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-top: 28px;
}

#u5849-5
{
	z-index: 27;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 710px;
}

#u5848-4
{
	z-index: 23;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 906px;
}

#u5850-4
{
	z-index: 32;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 1102px;
}

#u5847-bw
{
	z-index: 22;
	min-height: 96px;
}

#u5884-4
{
	z-index: 44;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 122px;
}

#u5892-4
{
	z-index: 56;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 710px;
}

#u5894-4
{
	z-index: 60;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 906px;
}

#u5895-4
{
	z-index: 64;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1102px;
}

#u5852-4
{
	z-index: 68;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 318px;
}

#u5853-4
{
	z-index: 72;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 318px;
}

#u6682-4
{
	z-index: 76;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 318px;
}

#u5855-4
{
	z-index: 84;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 514px;
}

#u6683-4
{
	z-index: 88;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
}

#u6684-4
{
	z-index: 40;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 28px;
}

#page .verticalspacer
{
	clear: both;
}

