.version.font_joljol /* version checker */
{
	color: #0000FF;
	background-color: #970BE8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 697px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -28px;
	margin-bottom: -94px;
	width: 0.01px;
}

#pu457
{
	width: 0.01px;
	margin-left: -100px;
}

#u385-4
{
	z-index: 3;
	width: 536px;
	min-height: 81px;
	margin-bottom: -10px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 122px;
}

#menuu458
{
	z-index: 194;
	width: 392px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 886px;
}

#u5048
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
}

#u5049
{
	width: 195px;
	padding-bottom: 15px;
}

#u5051-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049:hover #u5051-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u473
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
	left: 197px;
}

#u476
{
	width: 195px;
	padding-bottom: 15px;
}

#u5049.MuseMenuActive,#u476.MuseMenuActive
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u478-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049.MuseMenuActive #u5051-4,#u476:hover #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u476.MuseMenuActive #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u457,#u457-bw
{
	z-index: 2;
	min-height: 149px;
}

#u857
{
	z-index: 7;
	min-height: 1267px;
	padding-bottom: 103px;
}

#u4503-7
{
	z-index: 27;
	width: 1000px;
	min-height: 199px;
	background-color: transparent;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1068px;
	left: 200px;
}

.js #u4503-7.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u857-bw
{
	z-index: 7;
	min-height: 1267px;
	margin-top: 150px;
}

#u858
{
	z-index: 8;
	min-height: 247px;
	padding-bottom: 75px;
}

#u4501-8
{
	z-index: 18;
	width: 520px;
	min-height: 72px;
	background-color: transparent;
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	color: #005010;
	font-family: arimo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 440px;
}

#u858-bw
{
	z-index: 8;
	min-height: 247px;
	margin-top: 156px;
}

#u891
{
	z-index: 9;
	height: 72px;
}

#u891-bw
{
	z-index: 9;
	margin-top: 138px;
	height: 72px;
}

#u4499-4
{
	z-index: 10;
	width: 479px;
	min-height: 83px;
	background-color: transparent;
	line-height: 58px;
	text-align: center;
	font-size: 48px;
	color: #202020;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 460px;
}

#u4500-4
{
	z-index: 14;
	width: 84px;
	min-height: 83px;
	background-color: transparent;
	line-height: 58px;
	text-align: right;
	font-size: 48px;
	color: #202020;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 312px;
}

#u4502
{
	z-index: 26;
	height: 38px;
	background-color: #FFFFFF;
}

#u4502-bw
{
	z-index: 26;
	margin-top: 448px;
	height: 38px;
}

#u4512
{
	z-index: 41;
	width: 1154px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 460px;
	left: 122px;
}

#u4519
{
	z-index: 42;
	width: 1154px;
	-pie-box-shadow: 0px 0px 10px #999999;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 51px;
	position: relative;
	margin-right: -10000px;
}

#u4519.MuseLinkActive
{
	background-color: #F0F0F0;
	width: 1154px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu4517
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 120px;
	margin-left: 98px;
}

#u4517
{
	z-index: 43;
	width: 467px;
	background-color: transparent;
	position: relative;
}

#u4517_clip
{
	overflow: hidden;
	width: 467px;
	height: 333px;
}

#u4517_img
{
	margin-left: -17px;
	margin-right: -16px;
}

#u4515
{
	z-index: 47;
	width: 78px;
	background-color: transparent;
	margin-top: 94px;
	position: relative;
}

#u4513
{
	z-index: 45;
	width: 471px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 589px;
}

#u4513.MuseLinkActive
{
	border-style: none;
	border-color: transparent;
	width: 471px;
	min-height: 0px;
	margin: 121px -9999px 1px 1px;
}

#u4545
{
	z-index: 49;
	min-height: 227px;
	background-color: #FFFFFF;
	padding-bottom: 57px;
}

#u4545_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
}

#u4525-4
{
	z-index: 66;
	width: 960px;
	min-height: 37px;
	padding-top: 20px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 220px;
}

#u4545-bw
{
	z-index: 49;
	min-height: 227px;
	margin-top: 1417px;
}

#u4530-4
{
	z-index: 91;
	width: 642px;
	min-height: 0px;
	padding-top: 120px;
	line-height: 29px;
	font-size: 24px;
	color: #F05AB4;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1417px;
	left: 220px;
}

#u4586-3
{
	z-index: 191;
	width: 78px;
	min-height: 33px;
	bottom: 20px;
	right: 24px;
}

#u4586-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 78px;
	margin: 0px;
}

#ppu4542-4
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 77px;
}

#pu4542-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 15px;
}

#u4542-4
{
	z-index: 109;
	width: 94px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
}

#u4543-4
{
	z-index: 113;
	width: 94px;
	min-height: 20px;
	background-color: transparent;
	margin-top: 73px;
	position: relative;
}

#u4544-4
{
	z-index: 117;
	width: 94px;
	min-height: 20px;
	background-color: transparent;
	margin-top: 66px;
	position: relative;
}

#u4540
{
	z-index: 107;
	width: 227px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u4523-4
{
	z-index: 58;
	width: 392px;
	min-height: 47px;
	padding-top: 10px;
	line-height: 22px;
	font-size: 16px;
	font-family: arimo, sans-serif;
	font-weight: 400;
	margin-left: 120px;
	margin-top: 29px;
	position: relative;
}

#u4524-4
{
	z-index: 62;
	width: 960px;
	min-height: 57px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 120px;
	margin-top: 101px;
	position: relative;
}

#ppu4505
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 42px;
}

#pu4505
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -1px;
}

#u4505
{
	z-index: 34;
	width: 372px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u4521-4
{
	z-index: 50;
	width: 372px;
	min-height: 47px;
	padding-top: 10px;
	line-height: 22px;
	font-size: 16px;
	font-family: arimo, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu4507
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 392px;
}

#u4507
{
	z-index: 36;
	width: 308px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	padding: 30px 42px 57px 41px;
}

#u4508
{
	z-index: 37;
	width: 308px;
	background-color: transparent;
	position: relative;
}

#u4510
{
	z-index: 39;
	width: 308px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u4510_img
{
	padding-right: 60px;
}

#u4522-4
{
	z-index: 54;
	width: 372px;
	min-height: 47px;
	padding-top: 10px;
	line-height: 22px;
	font-size: 16px;
	font-family: arimo, sans-serif;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu4538
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: 144px;
}

#u4538
{
	z-index: 105;
	width: 569px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4536
{
	z-index: 103;
	width: 372px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u4526-4
{
	z-index: 70;
	width: 372px;
	min-height: 47px;
	padding-top: 10px;
	line-height: 19px;
	font-size: 16px;
	font-family: arimo, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu4534
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: 18px;
}

#u4534
{
	z-index: 101;
	width: 569px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu4536,#pu4532
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 589px;
}

#u4532
{
	z-index: 99;
	width: 275px;
	background-color: transparent;
	position: relative;
}

#u4527-5
{
	z-index: 74;
	width: 274px;
	min-height: 47px;
	padding-top: 10px;
	line-height: 19px;
	font-size: 16px;
	font-family: arimo, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4527-2
{
	letter-spacing: -1px;
}

#u4528-8
{
	z-index: 79;
	display: block;
	vertical-align: top;
	margin-left: 119px;
	position: relative;
}

#u4531-4
{
	z-index: 95;
	width: 642px;
	min-height: 0px;
	padding-top: 120px;
	line-height: 29px;
	font-size: 24px;
	color: #F05AB4;
	font-family: cabin, sans-serif;
	font-weight: 700;
	margin-left: 120px;
	position: relative;
}

#u4529-4
{
	z-index: 87;
	width: 950px;
	min-height: 0px;
	padding-top: 20px;
	padding-bottom: 300px;
	line-height: 22px;
	margin-left: 119px;
	position: relative;
}

.padding_top_20,.padding_top_120,.padding_top_10,.padding_top20-Bottom300
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u5045-4
{
	z-index: 207;
	width: 78px;
	min-height: 33px;
	background-color: transparent;
	line-height: 25px;
	position: fixed;
	bottom: 20px;
	right: 22px;
}

#u5045-4:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 78px;
	margin: 0px;
}

#u4503-2,#u4503-4,#u4525-2,#u4524-2,#u4529-2,#u5045-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4503,#u4503-3,#u4525,#u4524,#u4529,#u5045
{
	line-height: 29px;
}

#pu5847
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -149px;
}

#u5847
{
	z-index: 121;
	min-height: 96px;
	padding-bottom: 53px;
}

#u457_align_to_page,#u857_align_to_page,#u858_align_to_page,#u5847_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u5851-4
{
	z-index: 135;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 122px;
}

#u5885-4
{
	z-index: 147;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 318px;
}

#pu5887-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 514px;
}

#u5887-4
{
	z-index: 151;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
}

#u5854-4
{
	z-index: 179;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-top: 28px;
}

#u5849-5
{
	z-index: 126;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 710px;
}

#u5848-4
{
	z-index: 122;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 906px;
}

#u5850-4
{
	z-index: 131;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 1102px;
}

#u5847-bw
{
	z-index: 121;
	min-height: 96px;
}

#u5884-4
{
	z-index: 143;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 122px;
}

#u5892-4
{
	z-index: 155;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 710px;
}

#u5894-4
{
	z-index: 159;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 906px;
}

#u5895-4
{
	z-index: 163;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1102px;
}

#u5852-4
{
	z-index: 167;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 318px;
}

#u5853-4
{
	z-index: 171;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 318px;
}

#u6682-4
{
	z-index: 175;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 318px;
}

#u5855-4
{
	z-index: 183;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 514px;
}

#u6683-4
{
	z-index: 187;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
	margin-top: 22px;
}

#u6684-4
{
	z-index: 139;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 28px;
}

#page .verticalspacer
{
	clear: both;
}

