.version.hagwons_in_seoul /* version checker */
{
	color: #000010;
	background-color: #7F50B5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 697px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -28px;
	margin-bottom: -94px;
	width: 0.01px;
}

#pu457
{
	width: 0.01px;
	margin-left: -100px;
}

#u385-4
{
	z-index: 3;
	width: 536px;
	min-height: 81px;
	margin-bottom: -10px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 122px;
}

#menuu458
{
	z-index: 228;
	width: 392px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 886px;
}

#u5048
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
}

#u5049
{
	width: 195px;
	padding-bottom: 15px;
}

#u5051-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049:hover #u5051-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u473
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
	left: 197px;
}

#u476
{
	width: 195px;
	padding-bottom: 15px;
}

#u5049.MuseMenuActive,#u476.MuseMenuActive
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u478-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049.MuseMenuActive #u5051-4,#u476:hover #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u476.MuseMenuActive #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u457,#u457-bw
{
	z-index: 2;
	min-height: 149px;
}

#u857
{
	z-index: 7;
	min-height: 1370px;
}

#u1091-5
{
	z-index: 19;
	width: 999px;
	min-height: 201px;
	background-color: transparent;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1169px;
	left: 201px;
}

#u857-bw
{
	z-index: 7;
	min-height: 1370px;
	margin-top: 150px;
}

#u858
{
	z-index: 8;
	min-height: 249px;
	padding-bottom: 73px;
}

#u1094-8
{
	z-index: 47;
	width: 222px;
	min-height: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 545px;
}

#u858-bw
{
	z-index: 8;
	min-height: 249px;
	margin-top: 156px;
}

#u891
{
	z-index: 9;
	height: 72px;
}

#u891-bw
{
	z-index: 9;
	margin-top: 138px;
	height: 72px;
}

#u1089-4
{
	z-index: 11;
	width: 479px;
	min-height: 83px;
	background-color: transparent;
	line-height: 58px;
	text-align: center;
	font-size: 48px;
	color: #202020;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 442px;
}

#u1090-4
{
	z-index: 15;
	width: 84px;
	min-height: 83px;
	background-color: transparent;
	line-height: 58px;
	text-align: right;
	font-size: 48px;
	color: #202020;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 312px;
}

#u1107
{
	z-index: 105;
	width: 1157px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 460px;
	left: 122px;
}

#u4586-3
{
	z-index: 225;
	width: 78px;
	min-height: 33px;
	bottom: 20px;
	right: 24px;
}

#u4586-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 78px;
	margin: 0px;
}

#u1095-4
{
	z-index: 55;
	width: 664px;
	min-height: 0px;
	padding-top: 120px;
	line-height: 29px;
	font-size: 24px;
	color: #F05AB4;
	font-family: cabin, sans-serif;
	font-weight: 700;
	margin-left: 120px;
	position: relative;
}

#u1092-11
{
	z-index: 24;
	width: 960px;
	min-height: 73px;
	padding-top: 20px;
	line-height: 29px;
	font-size: 18px;
	color: #303030;
	font-family: arimo, sans-serif;
	font-weight: 400;
	margin-left: 120px;
	position: relative;
}

#u1115-21
{
	z-index: 111;
	width: 898px;
	padding-top: 20px;
	line-height: 29px;
	font-size: 18px;
	color: #303030;
	font-family: arimo, sans-serif;
	font-weight: 400;
	margin-left: 218px;
	position: relative;
}

#u1116-13
{
	z-index: 132;
	width: 960px;
	padding-top: 10px;
	line-height: 29px;
	font-size: 18px;
	color: #303030;
	font-family: arimo, sans-serif;
	font-weight: 400;
	margin-left: 120px;
	position: relative;
}

#ppu1105
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 132px;
}

#pu1105
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 490px;
}

#u1105
{
	z-index: 103;
	width: 470px;
	background-color: transparent;
	position: relative;
}

#u1096-4
{
	z-index: 59;
	width: 546px;
	min-height: 27px;
	padding-top: 10px;
	font-size: 14px;
	color: #7F7F7F;
	margin-left: 1px;
	position: relative;
}

#u1088
{
	z-index: 10;
	width: 470px;
	height: 183px;
	background-color: #F0F0F0;
	position: relative;
	margin-right: -10000px;
}

#u1098-16
{
	z-index: 67;
	width: 452px;
	min-height: 126px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 10px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u1097-4
{
	z-index: 63;
	width: 470px;
	min-height: 27px;
	padding-top: 10px;
	font-size: 14px;
	color: #7F7F7F;
	margin-left: 120px;
	position: relative;
}

#pu1117
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 93px;
}

#u1117
{
	z-index: 145;
	width: 470px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1119-4
{
	z-index: 147;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 492px;
}

#u1120-4
{
	z-index: 151;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 492px;
}

#pu1099-4
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 1px;
}

#u1099-4
{
	z-index: 83;
	width: 470px;
	min-height: 27px;
	padding-top: 10px;
	font-size: 14px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u1100-4
{
	z-index: 87;
	width: 468px;
	min-height: 27px;
	padding-top: 10px;
	font-size: 14px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 492px;
}

#pu1111
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 73px;
}

#u1111
{
	z-index: 109;
	width: 471px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1111_clip
{
	overflow: hidden;
	width: 471px;
	height: 333px;
}

#u1111_img
{
	margin: 4px 1px -4px -1px;
}

#u1109
{
	z-index: 107;
	width: 470px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

.js #u1091-5.ose_pre_init,.js #u1105.ose_pre_init,.js #u1088.ose_pre_init,.js #u1098-16.ose_pre_init,.js #u1117.ose_pre_init,.js #u1111.ose_pre_init,.js #u1109.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pu1101-4
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: -1px;
}

#u1101-4
{
	z-index: 91;
	width: 432px;
	min-height: 27px;
	padding-top: 10px;
	font-size: 14px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u1102-4
{
	z-index: 95;
	width: 470px;
	min-height: 27px;
	padding-top: 10px;
	font-size: 14px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u1103-4
{
	z-index: 99;
	width: 664px;
	min-height: 0px;
	padding-top: 120px;
	line-height: 29px;
	font-size: 24px;
	color: #F05AB4;
	font-family: cabin, sans-serif;
	font-weight: 700;
	margin-left: 121px;
	position: relative;
}

#u1093-12
{
	z-index: 35;
	width: 953px;
	min-height: 0px;
	padding-top: 20px;
	padding-bottom: 300px;
	line-height: 22px;
	font-size: 18px;
	color: #303030;
	font-family: arimo, sans-serif;
	font-weight: 400;
	margin-left: 120px;
	position: relative;
}

.padding_top_120,.padding_top_20,.padding_top_10,.padding_top20-Bottom300
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u1093
{
	font-family: arimo, sans-serif;
	font-weight: 400;
}

#u5038-4
{
	z-index: 241;
	width: 78px;
	min-height: 33px;
	background-color: transparent;
	line-height: 25px;
	position: fixed;
	bottom: 20px;
	right: 22px;
}

#u5038-4:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 78px;
	margin: 0px;
}

#u1091-3,#u5038-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1091-2,#u5038
{
	line-height: 29px;
}

#pu5847
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -149px;
}

#u5847
{
	z-index: 155;
	min-height: 96px;
	padding-bottom: 53px;
}

#u457_align_to_page,#u857_align_to_page,#u858_align_to_page,#u5847_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u5851-4
{
	z-index: 169;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 122px;
}

#u5885-4
{
	z-index: 181;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 318px;
}

#pu5887-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 514px;
}

#u5887-4
{
	z-index: 185;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
}

#u5854-4
{
	z-index: 213;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-top: 28px;
}

#u5849-5
{
	z-index: 160;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 710px;
}

#u5848-4
{
	z-index: 156;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 906px;
}

#u5850-4
{
	z-index: 165;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 1102px;
}

#u5847-bw
{
	z-index: 155;
	min-height: 96px;
}

#u5884-4
{
	z-index: 177;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 122px;
}

#u5892-4
{
	z-index: 189;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 710px;
}

#u5894-4
{
	z-index: 193;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 906px;
}

#u5895-4
{
	z-index: 197;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1102px;
}

#u5852-4
{
	z-index: 201;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 318px;
}

#u5853-4
{
	z-index: 205;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 318px;
}

#u6682-4
{
	z-index: 209;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 318px;
}

#u5855-4
{
	z-index: 217;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 514px;
}

#u6683-4
{
	z-index: 221;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
	margin-top: 22px;
}

#u6684-4
{
	z-index: 173;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 28px;
}

#page .verticalspacer
{
	clear: both;
}

