.each-short-info,.back,.Pink-subhead,.short-introduce,.body,.infos
{
	font-family: arimo-n4, sans-serif;
}

#u385-4,#u5051-4
{
	font-family: cabin-n5, sans-serif;
}

#u478-4
{
	font-family: cabin-n5, sans-serif;
}

#u3147-4,#u3146-4,#u3260-4,#u3263-4
{
	font-family: cabin-n7, sans-serif;
}

#u3145-8,#u3261-8,#u3262-8
{
	font-family: arimo-n4, sans-serif;
}

