.each-short-info,.back,.Pink-subhead,.short-introduce,.body,.infos
{
	font-family: arimo-n4, sans-serif;
}

#u385-4,#u5051-4
{
	font-family: cabin-n5, sans-serif;
}

#u478-4
{
	font-family: cabin-n5, sans-serif;
}

#u1978-4,#u1979-4,#u2197-4,#u2412-4
{
	font-family: cabin-n7, sans-serif;
}

#u2217-4,#u2196-6,#u2218-4,#u2422-4,#u2449-3,#u2482-4,#u2414-4
{
	font-family: arimo-n4, sans-serif;
}

