.each-short-info,.back,.Pink-subhead,.short-introduce,.body,.infos
{
	font-family: arimo-n4, sans-serif;
}

#u385-4,#u5051-4
{
	font-family: cabin-n5, sans-serif;
}

#u478-4
{
	font-family: cabin-n5, sans-serif;
}

#u4947-4,#u4948-4,#u4952-4,#u4956-4
{
	font-family: cabin-n7, sans-serif;
}

#u4950-11,#u4955-4
{
	font-family: arimo-n4, sans-serif;
}

