.each-short-info,.back,.Pink-subhead,.short-introduce,.body,.infos
{
	font-family: arimo-n4, sans-serif;
}

#u385-4,#u5051-4
{
	font-family: cabin-n5, sans-serif;
}

#u478-4
{
	font-family: cabin-n5, sans-serif;
}

#u1089-4,#u1090-4,#u1095-4,#u1103-4
{
	font-family: cabin-n7, sans-serif;
}

#u1092-11,#u1115-21,#u1116-13,#u1093-12,#u1093
{
	font-family: arimo-n4, sans-serif;
}

