.each-short-info,.back,.Pink-subhead,.short-introduce,.body,.infos
{
	font-family: arimo-n4, sans-serif;
}

#u385-4,#u5051-4
{
	font-family: cabin-n5, sans-serif;
}

#u478-4
{
	font-family: cabin-n5, sans-serif;
}

#u2620-4,#u2619-4,#u2776-4,#u2871-4
{
	font-family: cabin-n7, sans-serif;
}

#u2906-7,#u2804-4,#u2890-4,#u2903-4,#u2904-4,#u2892-4,#u2873-4
{
	font-family: arimo-n4, sans-serif;
}

