.each-short-info,.back,.Pink-subhead,.short-introduce,.body,.infos
{
	font-family: arimo-n4, sans-serif;
}

#u385-4,#u5051-4
{
	font-family: cabin-n5, sans-serif;
}

#u478-4
{
	font-family: cabin-n5, sans-serif;
}

#u6356-10,#u6354-4,#u6333-4,#u6482-4,#u6483-7
{
	font-family: cabin-n7, sans-serif;
}

#u6355-8,#u6636-8,#u6331-9,#u6593-12,#u6329-3
{
	font-family: arimo-n4, sans-serif;
}

