.each-short-info,.back,.Pink-subhead,.short-introduce,.body,.infos
{
	font-family: arimo-n4, sans-serif;
}

#u385-4,#u5051-4
{
	font-family: cabin-n5, sans-serif;
}

#u478-4
{
	font-family: cabin-n5, sans-serif;
}

#u3293-4,#u3292-4,#u3345-4,#u3329-4
{
	font-family: cabin-n7, sans-serif;
}

#u3336-4,#u3355-4
{
	font-family: arimo-n4, sans-serif;
}

