#u457
{
	-pie-box-shadow: 0px 0px 12px #999999;
	box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
	background-color: #FFFFFF;
}

#u385-4
{
	background-color: transparent;
	color: #1B1B1D;
	line-height: 29px;
	font-size: 24px;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
}

#menuu458
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5048,#u5049
{
	background-color: transparent;
	position: relative;
}

#u5051-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #1B1B1D;
	text-align: right;
	font-size: 16px;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
}

#u5049:hover #u5051-4 p
{
	color: #FD84B3;
	visibility: inherit;
}

#u473,#u476
{
	background-color: transparent;
	position: relative;
}

#u478-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #1B1B1D;
	text-align: right;
	font-size: 16px;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
}

#u476:hover #u478-4 p
{
	color: #FD84B3;
	visibility: inherit;
}

#u5049.MuseMenuActive #u5051-4 p,#u476.MuseMenuActive #u478-4 p
{
	color: #F03CA0;
	visibility: inherit;
	font-size: 16px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u5847
{
	background-color: #FFFFFF;
}

#u457_align_to_page,#u5847_align_to_page
{
	position: relative;
}

.padding_top_10
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u5849-2
{
	letter-spacing: -1px;
	color: #F05AA0;
}

#u5885-4,#u5887-4,#u5884-4,#u5892-4,#u5894-4,#u5895-4,#u6683-4
{
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	position: relative;
}

#u5851-4,#u5854-4,#u5849-5,#u5848-4,#u5850-4,#u5852-4,#u5853-4,#u6682-4,#u5855-4,#u6684-4
{
	text-align: left;
	position: relative;
}

#u5851,#u5854,#u5849,#u5848,#u5850,#u5852,#u5853,#u6682,#u5855,#u6684
{
	color: #F05AA0;
}

