.version.motion_graphic /* version checker */
{
	color: #00000F;
	background-color: #A25E6D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1110px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -28px;
	margin-bottom: -94px;
	width: 0.01px;
}

#pu456
{
	width: 0.01px;
	margin-left: -100px;
}

#u456
{
	z-index: 2;
	min-height: 229px;
	padding-bottom: 1577px;
}

#menuu1644
{
	z-index: 3;
	width: 78px;
	margin-right: -10000px;
	margin-top: 195px;
	left: 122px;
}

#u1648
{
	width: 78px;
	padding-bottom: 9px;
}

#u1649-4
{
	width: 78px;
	min-height: 25px;
	margin-right: -10000px;
	top: 4px;
}

#u1648:hover #u1649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#menuu1652
{
	z-index: 10;
	width: 137px;
	margin-right: -10000px;
	margin-top: 195px;
	left: 220px;
}

#u1653
{
	width: 137px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1654
{
	width: 137px;
	padding-bottom: 9px;
}

#u1654.MuseMenuActive
{
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u1655-4
{
	width: 137px;
	min-height: 25px;
	margin-right: -10000px;
	top: 4px;
}

#u1654:hover #u1655-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u1654.MuseMenuActive #u1655-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#menuu1660
{
	z-index: 17;
	width: 78px;
	margin-right: -10000px;
	margin-top: 195px;
	left: 416px;
}

#u1645,#u1661
{
	width: 78px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1662
{
	width: 78px;
	padding-bottom: 9px;
}

#u1648.MuseMenuActive,#u1662.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1664-4
{
	width: 78px;
	min-height: 25px;
	margin-right: -10000px;
	top: 4px;
}

#u1648.MuseMenuActive #u1649-4,#u1662:hover #u1664-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1662.MuseMenuActive #u1664-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u456-bw
{
	z-index: 2;
	min-height: 229px;
}

#u385-4
{
	z-index: 25;
	width: 536px;
	min-height: 81px;
	margin-bottom: -10px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 122px;
}

#menuu458
{
	z-index: 99;
	width: 392px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 886px;
}

#u5048
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
}

#u5049
{
	width: 195px;
	padding-bottom: 15px;
}

#u5051-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049:hover #u5051-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u473
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
	left: 197px;
}

#u476
{
	width: 195px;
	padding-bottom: 15px;
}

#u5049.MuseMenuActive,#u476.MuseMenuActive
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u478-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049.MuseMenuActive #u5051-4,#u476:hover #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u476.MuseMenuActive #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u457,#u457-bw
{
	z-index: 24;
	min-height: 149px;
}

#pu5847
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -149px;
}

#u5847
{
	z-index: 29;
	min-height: 96px;
	padding-bottom: 53px;
}

#u456_align_to_page,#u457_align_to_page,#u5847_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u5851-4
{
	z-index: 43;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 122px;
}

#u5885-4
{
	z-index: 55;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 318px;
}

#pu5887-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 514px;
}

#u5887-4
{
	z-index: 59;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
}

#u5854-4
{
	z-index: 87;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-top: 28px;
}

#u5849-5
{
	z-index: 34;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 710px;
}

#u5848-4
{
	z-index: 30;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 906px;
}

#u5850-4
{
	z-index: 39;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 1102px;
}

#u5847-bw
{
	z-index: 29;
	min-height: 96px;
}

#u5884-4
{
	z-index: 51;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 122px;
}

#u5892-4
{
	z-index: 63;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 710px;
}

#u5894-4
{
	z-index: 67;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 906px;
}

#u5895-4
{
	z-index: 71;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1102px;
}

#u5852-4
{
	z-index: 75;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 318px;
}

#u5853-4
{
	z-index: 79;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 318px;
}

#u6682-4
{
	z-index: 83;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 318px;
}

#u5855-4
{
	z-index: 91;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 514px;
}

#u6683-4
{
	z-index: 95;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
	margin-top: 22px;
}

#u6684-4
{
	z-index: 47;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 28px;
}

#page .verticalspacer
{
	clear: both;
}

