.version.story_of_my_grandfather /* version checker */
{
	color: #0000FC;
	background-color: #BFA44B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1752px;
	-pie-box-shadow: none;
	box-shadow: none;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

.mainshadow
{
	border-style: none;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -28px;
	padding-bottom: 50px;
	width: 0.01px;
}

#pu457
{
	width: 0.01px;
	margin-left: -100px;
}

#u385-4
{
	z-index: 3;
	width: 536px;
	min-height: 81px;
	margin-bottom: -10px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 122px;
}

#menuu458
{
	z-index: 179;
	width: 392px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 886px;
}

#u5048
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
}

#u5049
{
	width: 195px;
	padding-bottom: 15px;
}

#u5051-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049:hover #u5051-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u473
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
	left: 197px;
}

#u476
{
	width: 195px;
	padding-bottom: 15px;
}

#u5049.MuseMenuActive,#u476.MuseMenuActive
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u478-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049.MuseMenuActive #u5051-4,#u476:hover #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u476.MuseMenuActive #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u457,#u457-bw
{
	z-index: 2;
	min-height: 149px;
}

#u857
{
	z-index: 7;
	min-height: 1306px;
	padding-bottom: 64px;
}

#u3155-12
{
	z-index: 27;
	width: 1000px;
	min-height: 122px;
	background-color: transparent;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1161px;
	left: 200px;
}

.js #u3155-12.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u857-bw
{
	z-index: 7;
	min-height: 1306px;
	margin-top: 150px;
}

#u858
{
	z-index: 8;
	min-height: 280px;
	padding-bottom: 42px;
}

#u3145-8
{
	z-index: 18;
	width: 520px;
	min-height: 72px;
	background-color: transparent;
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	color: #005010;
	font-family: arimo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 440px;
}

#u858-bw
{
	z-index: 8;
	min-height: 280px;
	margin-top: 156px;
}

#u891
{
	z-index: 9;
	height: 72px;
}

#u891-bw
{
	z-index: 9;
	margin-top: 138px;
	height: 72px;
}

#u3147-4
{
	z-index: 10;
	width: 479px;
	min-height: 83px;
	background-color: transparent;
	line-height: 58px;
	text-align: center;
	font-size: 48px;
	color: #202020;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 460px;
}

#u3146-4
{
	z-index: 14;
	width: 84px;
	min-height: 83px;
	background-color: transparent;
	line-height: 58px;
	text-align: right;
	font-size: 48px;
	color: #202020;
	font-family: cabin, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 312px;
}

#u3162
{
	z-index: 26;
	height: 74px;
	background-color: #FFFFFF;
}

#u3162-bw
{
	z-index: 26;
	margin-top: 445px;
	height: 74px;
}

#u3163
{
	z-index: 39;
	width: 1156px;
	-pie-box-shadow: 0px 0px 10px #999999;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	background-color: #F0F0F0;
	padding-bottom: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 498px;
	left: 122px;
}

#u3378
{
	z-index: 68;
	width: 490px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 103px;
}

#pu3426
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 114px;
	margin-left: 616px;
}

#u3426
{
	z-index: 76;
	width: 393px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u3426_clip
{
	overflow: hidden;
	width: 393px;
	height: 271px;
}

#u3426_img
{
	margin-left: -13px;
	margin-bottom: 1px;
}

#u3429
{
	z-index: 78;
	width: 394px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u3260-4
{
	z-index: 44;
	width: 642px;
	min-height: 0px;
	padding-top: 120px;
	line-height: 29px;
	font-size: 24px;
	color: #F05AB4;
	font-family: cabin, sans-serif;
	font-weight: 700;
	margin-left: 120px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u3261-8
{
	z-index: 52;
	width: 960px;
	min-height: 74px;
	padding-top: 20px;
	line-height: 29px;
	font-size: 18px;
	color: #303030;
	font-family: arimo, sans-serif;
	font-weight: 400;
	margin-left: 120px;
	position: relative;
}

#u4586-3
{
	z-index: 176;
	width: 78px;
	min-height: 33px;
	bottom: 20px;
	right: 24px;
}

#u4586-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 78px;
	margin: 0px;
}

#pu3473
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 35px;
}

#u3473
{
	z-index: 104;
	width: 274px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3467
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 294px;
}

#u3467
{
	z-index: 102;
	width: 568px;
	background-color: transparent;
	position: relative;
}

#u3481-4
{
	z-index: 98;
	width: 251px;
	min-height: 12px;
	padding-top: 10px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u3480-4
{
	z-index: 94;
	width: 279px;
	min-height: 12px;
	padding-top: 10px;
	margin-left: 120px;
	position: relative;
}

#u3451
{
	z-index: 84;
	width: 960px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 119px;
	margin-top: 97px;
	position: relative;
}

#u3445
{
	z-index: 82;
	width: 960px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 119px;
	margin-top: 25px;
	position: relative;
}

#u3435
{
	z-index: 80;
	width: 960px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 119px;
	margin-top: 21px;
	position: relative;
}

#u3466-4
{
	z-index: 90;
	width: 168px;
	min-height: 12px;
	padding-top: 10px;
	margin-left: 120px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu3402
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 194px;
}

#u3402
{
	z-index: 70;
	width: 470px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3408
{
	z-index: 72;
	width: 470px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#pu3154-4
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 23px;
}

#u3154-4
{
	z-index: 40;
	width: 664px;
	min-height: 37px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FD5BB3;
	position: relative;
	margin-right: -10000px;
	margin-top: 505px;
	left: 137px;
}

#u3420
{
	z-index: 74;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3457-4
{
	z-index: 86;
	width: 168px;
	min-height: 12px;
	padding-top: 10px;
	margin-left: 120px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u3263-4
{
	z-index: 48;
	width: 642px;
	min-height: 37px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #F05AB4;
	font-family: cabin, sans-serif;
	font-weight: 700;
	margin-left: 120px;
	margin-top: 320px;
	position: relative;
}

#u3262-8
{
	z-index: 60;
	width: 960px;
	min-height: 0px;
	padding-top: 20px;
	padding-bottom: 300px;
	line-height: 29px;
	font-size: 18px;
	color: #303030;
	font-family: arimo, sans-serif;
	font-weight: 400;
	margin-left: 120px;
	position: relative;
}

.padding_top_120,.padding_top_20,.padding_top_10,.padding_top20-Bottom300
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u5876-4
{
	z-index: 192;
	width: 78px;
	min-height: 33px;
	background-color: transparent;
	line-height: 25px;
	position: fixed;
	bottom: 22px;
	right: 22px;
}

#u5876-4:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 78px;
	margin: 0px;
}

#u3155-2,#u3155-4,#u3155-6,#u3155-8,#u3155-10,#u5876-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3155,#u3155-3,#u3155-5,#u3155-7,#u3155-9,#u5876
{
	line-height: 29px;
}

#pu5847
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 17px;
}

#u5847
{
	z-index: 106;
	min-height: 96px;
	padding-bottom: 53px;
}

#u457_align_to_page,#u857_align_to_page,#u858_align_to_page,#u5847_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u5851-4
{
	z-index: 120;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 122px;
}

#u5885-4
{
	z-index: 132;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 318px;
}

#pu5887-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 514px;
}

#u5887-4
{
	z-index: 136;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
}

#u5854-4
{
	z-index: 164;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-top: 28px;
}

#u5849-5
{
	z-index: 111;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 710px;
}

#u5848-4
{
	z-index: 107;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 906px;
}

#u5850-4
{
	z-index: 116;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 1102px;
}

#u5847-bw
{
	z-index: 106;
	min-height: 96px;
}

#u5884-4
{
	z-index: 128;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 122px;
}

#u5892-4
{
	z-index: 140;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 710px;
}

#u5894-4
{
	z-index: 144;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 906px;
}

#u5895-4
{
	z-index: 148;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1102px;
}

#u5852-4
{
	z-index: 152;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 318px;
}

#u5853-4
{
	z-index: 156;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 318px;
}

#u6682-4
{
	z-index: 160;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 318px;
}

#u5855-4
{
	z-index: 168;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 514px;
}

#u6683-4
{
	z-index: 172;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
}

#u6684-4
{
	z-index: 124;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 28px;
}

#page .verticalspacer
{
	clear: both;
}

