.version.works /* version checker */
{
	color: #00000A;
	background-color: #3AE5E6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 2027.549999999997px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -90px;
	padding-bottom: 22px;
	width: 0.01px;
}

#pu456
{
	width: 0.01px;
	margin-left: -100px;
}

#u456
{
	z-index: 2;
	min-height: 1806px;
}

#u456_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
	padding-top: 195px;
	padding-bottom: 620px;
}

#pmenuu1644
{
	width: 0.01px;
	left: 122px;
	position: relative;
}

#menuu1644
{
	z-index: 3;
	width: 78px;
	margin-right: -10000px;
}

#u1648
{
	width: 78px;
	padding-bottom: 9px;
}

#u1649-4
{
	width: 78px;
	min-height: 25px;
	margin-right: -10000px;
	top: 4px;
}

#u1648:hover #u1649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#menuu1652
{
	z-index: 10;
	width: 137px;
	margin-right: -10000px;
	left: 98px;
}

#u1653
{
	width: 137px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1654
{
	width: 137px;
	padding-bottom: 9px;
}

#u1654.MuseMenuActive
{
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u1655-4
{
	width: 137px;
	min-height: 25px;
	margin-right: -10000px;
	top: 4px;
}

#u1654:hover #u1655-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u1654.MuseMenuActive #u1655-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#menuu1660
{
	z-index: 17;
	width: 78px;
	margin-right: -10000px;
	left: 294px;
}

#u1645,#u1661
{
	width: 78px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1662
{
	width: 78px;
	padding-bottom: 9px;
}

#u1648.MuseMenuActive,#u1662.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u1664-4
{
	width: 78px;
	min-height: 25px;
	margin-right: -10000px;
	top: 4px;
}

#u1648.MuseMenuActive #u1649-4,#u1662:hover #u1664-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u1662.MuseMenuActive #u1664-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#pu523
{
	width: 0.01px;
	left: 122px;
	margin-top: 81px;
	position: relative;
}

#u523
{
	z-index: 37;
	width: 470px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu410-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 490px;
}

#u410-4
{
	z-index: 25;
	width: 334px;
	min-height: 20px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #FAF6C8;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
}

#u411-8
{
	z-index: 29;
	width: 222px;
	min-height: 72px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
	font-family: arimo, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#pu589
{
	width: 0.01px;
	left: 122px;
	margin-top: 58px;
	position: relative;
}

#u589
{
	z-index: 40;
	width: 274px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu627-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 294px;
}

#u627-4
{
	z-index: 42;
	width: 334px;
	min-height: 20px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #FAF6C8;
	font-family: cabin, sans-serif;
	font-weight: 500;
	position: relative;
}

#u628-8
{
	z-index: 46;
	width: 222px;
	min-height: 72px;
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
	font-family: arimo, sans-serif;
	font-weight: 400;
	margin-top: 16px;
	position: relative;
}

#u456-bw
{
	z-index: 2;
	min-height: 1806px;
	margin-top: 62px;
}

#u303
{
	z-index: 24;
	height: 210px;
	-pie-box-shadow: 6px 6px 10px #B2B2B2;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
	background-color: #F5F5C8;
}

#u303-bw
{
	z-index: 24;
	height: 210px;
}

#u549
{
	z-index: 39;
	width: 470px;
	height: 332px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 372px;
	left: 122px;
}

.ie #u549
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u549:hover
{
	background-color: #FFFFFF;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	width: 470px;
	height: 332px;
	min-height: 0px;
	margin: 372px -10000px 0px 0px;
}

.ie #u549:hover
{
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
}

#u457
{
	z-index: 54;
	min-height: 149px;
}

#u385-4
{
	z-index: 55;
	width: 536px;
	min-height: 81px;
	margin-bottom: -10px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 122px;
}

#menuu458
{
	z-index: 129;
	width: 392px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 886px;
}

#u5048
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
}

#u5049
{
	width: 195px;
	padding-bottom: 15px;
}

#u5051-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049:hover #u5051-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u473
{
	width: 195px;
	min-height: 34px;
	margin-right: -10000px;
	left: 197px;
}

#u476
{
	width: 195px;
	padding-bottom: 15px;
}

#u5049.MuseMenuActive,#u476.MuseMenuActive
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u478-4
{
	width: 195px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u5049.MuseMenuActive #u5051-4,#u476:hover #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u476.MuseMenuActive #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 195px;
	margin: 0px -10000px 0px 0px;
}

#u457-bw
{
	z-index: 54;
	min-height: 149px;
	margin-top: 62px;
}

#pu5847
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 17px;
}

#u5847
{
	z-index: 59;
	min-height: 96px;
	padding-bottom: 53px;
}

#u457_align_to_page,#u5847_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u5851-4
{
	z-index: 73;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 122px;
}

#u5885-4
{
	z-index: 85;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 318px;
}

#pu5887-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 514px;
}

#u5887-4
{
	z-index: 89;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
}

#u5854-4
{
	z-index: 117;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-top: 28px;
}

#u5849-5
{
	z-index: 64;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 710px;
}

#u5848-4
{
	z-index: 60;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 906px;
}

#u5850-4
{
	z-index: 69;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 1102px;
}

#u5847-bw
{
	z-index: 59;
	min-height: 96px;
}

#u5884-4
{
	z-index: 81;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 122px;
}

#u5892-4
{
	z-index: 93;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 710px;
}

#u5894-4
{
	z-index: 97;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 906px;
}

#u5895-4
{
	z-index: 101;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1102px;
}

#u5852-4
{
	z-index: 105;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 318px;
}

#u5853-4
{
	z-index: 109;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 318px;
}

#u6682-4
{
	z-index: 113;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 318px;
}

#u5855-4
{
	z-index: 121;
	width: 176px;
	min-height: 18px;
	padding-top: 10px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 514px;
}

#u6683-4
{
	z-index: 125;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
}

#u6684-4
{
	z-index: 77;
	width: 175px;
	min-height: 18px;
	padding-top: 10px;
	margin-left: 22px;
	top: -1px;
	margin-bottom: -1px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 28px;
}

#page .verticalspacer
{
	clear: both;
}

