@font-face{font-family:'avenir'; src:url('fonts/SDW_Font-Bold.ttf')}
@import url('https://fonts.googleapis.com/css?family=Muli');

body{
  margin:0;
  padding: 0;
}
#headerMirror{
  width:100%;
  padding: 20px;
  position:fixed;
}
#footerMirror{
  width:100%;
  border: none;
}
#examplesFixedMirror{
  width:100%;
  border: none;
  background-color: red;
  position: fixed;
  bottom:0;
}
iframe{
  display: none;
  width:100%;
  border: none;
  position: fixed;
  background-color: red;
}
.flexibleImagebody{
  margin:0px;
}
h3{
  margin-top:80px;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size:16pt;  
}
p{
  font-family: 'Muli', sans-serif;
  font-size: 12pt;
  color: #000000d0;
  line-height: 140%;
}
.caption{
  margin-top:6px;
  font-size: 10pt;
  color: #7F7F7F;
  font-family: 'Muli', sans-serif;
}
.subhead{
  padding-top:120px;
  font-size: 24pt;
  color: #7F7F7F;
}
a:link {
  color: rgb(78, 86, 112);
  text-decoration: underline;
}
a:visited {
  color: rgb(78, 86, 112);
  text-decoration: underline;
}



#scrollArea{
  z-index:-1;
  width:100%;
  position:absolute;
}
.flexible{
  margin-left: auto;
  margin-right: auto;
  margin-top:60px;
}
.flexibleTable{
  margin-left: auto;
  margin-right: auto;
  margin-top:60px;
  width:100%;
}

.thumbnail{
  display: none;
  width: 234px;
  height: 224px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  vertical-align:top;
  border-style: none;
  background-color: #ffffff;
  color: #455160;
}
.thumbnail img{
  width: auto;
  height: 180px;
}
.thumbnail p:nth-child(2){
  margin-top: 9px;
  margin-bottom:0px;
  font-size: 11pt;
  width: auto;
  height: auto;
}
.thumbnail p:nth-child(3){
  margin-top: 2px;
  font-size: 9pt;
  width: auto;
  height: 12px;
}

/* responsive */
  @media only screen and (min-width: 240px) {
      /* 1열 */
      .flexible {
        width:90%;
      }
      .flexibleTable {
        width:calc(240px + 44px);
        margin-left: auto;
        margin-right: auto;
      }
      .infos div{
        width:100%;
      }
      .infos .explain{
        width:100%;
      }
      .flexibleImage {
        width:100%;
      }
  }
  @media only screen and (min-width: 360px) {
      /* 1열 */
      .flexible {
        width:90%;
      }
      .flexibleTable {
        width:360px;
        margin-left: 0;
      }
      .infos div{
        width:100%;
      }
      .flexibleImage {
        width:100%;
      }
  }
  @media only screen and (min-width: 560px) {
          /* 2열 */
          .flexible {
            width:520px;
          }
          .flexibleTable {
            width:560px;
            margin-left: auto;
            margin-right: auto;
          }
          .infos div{
            width:48%;
          }
          .infos .explain{
            width:48%;
          }
          .flexibleImage {
            width:520px;
          }
      }
  @media only screen and (min-width: 840px) {
          /* 1열 */
          .flexible {
            width:800px;
          }
          .flexibleTable {
            width:840px;
            margin-left: auto;
            margin-right: auto;
          }
          .infos div{
            width:48%;
          }
          .flexibleImage {
            width:800px;
          }
      }
